@font-face {
    font-family: Poppins-SemiBold;
    src: url(/assets/font/SVN-Poppins-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Poppins-Medium;
    src: url(/assets/font/SVN-Poppins-Medium.otf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Poppins;
    src: url(/assets/font/SVN-Poppins-Regular.otf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Poppins-Light;
    src: url(/assets/font/SVN-Poppins-Light.otf);
    font-weight: 300;
    font-style: normal;
    font-display: swap
}
body {
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #161c2d;
    background-color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    font-synthesis: none;
    -moz-font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/*BASE*/
body {
    background-color: #EEEEEE;
}
.text-muted {
    color: #4a5568 !important;
}

/*HEADER*/
a.navbar-brand {
    font-size: 1.3rem;
    font-weight: 700;
}
.navbar-light .navbar-brand {
    color: #E03A3F;
}
.navbar-light .navbar-nav .nav-link {
    color: #292f33;
}
/*HOME*/
body.bg-white {
    background: #FFF1E5 !important;
}
.index-header{
    font-size: 4rem;
}

.index-header{
    -webkit-text-fill-color: transparent;
}
.index-header {
    background: #000;
    background-color: #000;
    background-image: radial-gradient(circle,#c058ff 0,#ff5858 26%,#000 27%);
    background-position: 100% 100%;
    background-size: 150%;
    -webkit-animation-name: bg-circle;
    animation-name: bg-circle;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
}
.index-subheader {
    font-size: 1.4rem;
}
.index-button {
    background: linear-gradient(63deg,rgba(192,255,248,1) 0,rgba(227,211,255,1) 80%);
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 1rem;
    padding: 8px 20px;
    color: #000;
}
.index-button:hover {
    -webkit-animation-name: bg-anim;
    animation-name: bg-anim;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    color:#fff
}
.index-button:hover {
    background: linear-gradient(.351turn,#ff5858 23.71%,#c058ff 78.8%);
    background-size: 165%;
    transition: .25s ease-in-out;
}
.pricing-name {
    background: linear-gradient(63deg,rgba(192,255,248,1) 0,rgba(227,211,255,1) 54%);
    color: #333;
}

.pricing-header {
    background: var(--white);
}

.pricing-plan {
    border: 0;
}
@media (max-width: 767px){
    .index-header{
        font-size: 2rem;
    }
    .index-subheader {
        font-size: 1rem;
    }
    .index-button {
        padding: 8px 0;
        font-size: 15px;
        white-space: nowrap;
    }
}


/*DARK*/
body[data-theme-style="dark"]{
    color: #dbdbdb;
    background-color: #0d0d0d;
}

body[data-theme-style="dark"] .navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

@-webkit-keyframes bg-circle{0%{background-size:350%;background-position:left 100% bottom 0}50%{background-size:350%;background-position:left -10% bottom 0}to{background-size:350%;background-position:left 100% bottom 0}}
@keyframes bg-circle{0%{background-size:350%;background-position:left 100% bottom 0}50%{background-size:350%;background-position:left -10% bottom 0}to{background-size:350%;background-position:left 100% bottom 0}}
@-webkit-keyframes bg-anim{0%{background-position:0 0}50%{background-position:100%}to{background-position:0 0}}
@keyframes bg-anim{0%{background-position:0 0}50%{background-position:100%}to{background-position:0 0}}